@model IEnumerable<Vehicle_Log_MVC.ActiveVehicleDB>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*
    Este módulo representa a View da interface Index, onde os itens do banco de dados ActiveVehicleDB serão listados.
    Nele será possível configurar e formatar a interface e seus componentes, como quais elemebtos serão apresentadas.
*@

<section class="wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="content-panel" style="padding:20px">
                <p>
                    @Html.ActionLink("Add New Vehicle", "Create", null, new { @class = "btn btn-default" })
                </p>
                <table class="table">
                    <tr>
                        <th>
                            Registration Date
                        </th>
                        <th>
                            Vehicle Type
                        </th>
                        <th>
                            Locations
                        </th>
                        <th>
                            Vehicle Model
                        </th>
                        <th>
                            TAG
                        </th>
                        <th>
                            Responsible
                        </th>
                        <th>
                            Comments
                        </th>
                        <th>
                            LastUpdate
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.RegistrationDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.VehicleType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Locations)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.VehicleModel)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TAG)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Responsible)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Comments)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastUpdate)
                            </td>
                            <td>
                                @Html.ActionLink(" ", "Details", new { id = item.Id_Vehicle }, new { @class = "btn btn-success btn-xs fa fa-file-text-o" }) |
                                @Html.ActionLink(" ", "Edit", new { id = item.Id_Vehicle }, new { @class = "btn btn-primary btn-xs fa fa-pencil" }) |
                                @Html.ActionLink(" ", "Delete", new { id = item.Id_Vehicle }, new { @class = "btn btn-danger btn-xs fa fa-trash-o" })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</section>